#tel {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: small;
  margin-bottom: 100px;
}
#phone_num {
  margin-left: 20px;

}

input[type="submit"] {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  padding: 5px 20px;
  border: 1px solid #888;
  cursor: pointer;
  background: #2b90d9;
  color: white;
  font-size: 1.1em;
}

input[type="tel"] {
  height: 24px;
  
}

input[type="tel"]:focus {
  border: 1px solid blue;
}

.submit {
  background-color: gainsboro;
  font-family: "Roboto", sans-serif;
  border-radius: 0px;
  border: 0px solid burlywood;
  width: 60px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  padding: 0;
  font-size: 15px;
}

#show {
  display: flex;
  justify-content: center;
  /* position: absolute; */
  background-color: white;
  border-radius: 25px;
  border: 2px solid gainsboro;
  padding: 20px;
  margin-left: 30px;
  width: 250px;
  height: 25px;
  top: 70px;
  z-index: 3;
  font-family: "Roboto", sans-serif;
}

.center {
  display: flex; 
  justify-content: center;
}

#label {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 100px;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  color: white;
  background-image: url(https://images.unsplash.com/photo-1618556658017-fd9c732d1360?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1318&q=80);
}